<!doctype html>
<html lang="en" ng-app="wookiesApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>Wookie WonderLand!</title>

  <!-- <base href="/"> -->

  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/custom.css"/>
  <link rel="stylesheet" href="css/animations.css"/>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmeVXki7sC3S34I9CDqBkvd9UqFVKp8nE&amp;sensor=false&amp;libraries=geometry"></script>
  <!-- // <script src='http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=geometry'></script> -->
  <script src='bower_components/underscore/underscore-min.js'></script>
  <script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div ng-controller="controllersMenu" >
  <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" > -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> -->
        <button type="button" class="navbar-toggle" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wookie WonderLand!</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse no-transition"> -->
      <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : ''">
        <ul class="nav navbar-nav">
          <li><a ng-click="doCollapse('/bookings')">Bookings(*)</a></li>
          <li><a ng-click="doCollapse('/map')">MAP</a></li>
          <li><a ng-click="doCollapse('/shus')">SHUs</a></li>
          <li><a ng-click="doCollapse('/stats')">Stats</a></li>
          <li><a ng-click="doCollapse('/firmwares')">FW(*)</a></li>
          <li><a href="">v<span app-version></span></a></li>
          <li><a ng-click="doCollapse('/tests')">tests</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input ng-model="query" class="form-control" placeholder="Search">
            <!-- <input type="text" class="form-control" placeholder="Search"> -->
          </div>
          <!-- <div class="checkbox navbar-btn">
            <label class="navbar-link">
                <input ng-model="virtual" type="checkbox" class="autosubmit" id="filterUnfulfilled" value="true" checked>
                Virtual cars
            </label>
          </div> -->
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid-->
    </div>
  </nav>

  <div ng-view class="content-wrapper"></div>

  <script src="js/app.js"></script>
  
  <script src="js/services/servicesCakePHP.js"></script>
  <script src="js/services/servicesCache.js"></script>
  <script src="js/services/servicesDefault.js"></script>
  <script src="js/services/servicesTiming.js"></script>
  <script src="js/services/servicesMapping.js"></script>

  <script src="js/filters/filtersDefault.js"></script>
  <script src="js/filters/filtersTiming.js"></script>
  <script src="js/filters/filtersProgressBars.js"></script>

  <script src="js/controllers/controllersMenu.js"></script>
  <script src="js/controllers/controllersShuList.js"></script>
  <script src="js/controllers/controllersMap.js"></script>
  <script src="js/controllers/controllersStats.js"></script>
  <script src="js/controllers/controllersFirmwares.js"></script>
  <script src="js/controllers/controllersBookings.js"></script>
  <script src="js/controllers/controllersTests.js"></script>
  
  <script src="js/directives/directivesDefault.js"></script>
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript">

    // $(document).on('click','.navbar-collapse.in', function(e) {
    //     console.log("Fired");
    //   if( $(e.target).is('a') ) {
    //     $(this).collapse('hide');
    //   }
    // });

  </script>

</body>
</html>
