<!--<map zoom="11" center="[1.3599573, 103.8183801]"></map>-->
<!-- <map zoom="12" center="{{map.center}}" zoom-control="false" ></map> -->
<!-- <map zoom="12" center="[1.31455315, 103.843994]" zoom-control="false" ></map> -->

<google-map
center="map.map.center"
zoom="map.map.zoom"
draggable='true'
control="map.map.control"
options="map.map.options"
events="map.map.events"
bounds="map.bounds"
>
	
	<div
		ng-repeat="shu in shus"
		ng-if=" shu.virtual != 1 "
	>
		<polyline ng-if=" shu.path.length >= 2 "
		path='shu.path'
	    stroke='{ color: "#5C89CA", weight: 3, opacity: 1.0 }'
	    clickable='false'
	    draggable='false'
	    editable='false'
	    geodesic='true'
	    visible='true'>
	    	<polyline-label content="shu.description" anchor="22 0" class="polyline-labels"/>
		</polyline>
	
		<!-- <markers> -->
		<marker
		coords="shu.marker.coords"
		icon="shu.marker.icon"
		>
			<marker-label content="shu.marker.title" anchor="22 0" class="marker-labels"/>
		</marker>
		<!-- </markers> -->

	</div>

</google-map>