<div class="list-group">

	<div 
	ng-repeat="shu in shus | filter:query | orderBy:orderProp"
    ng-if=" shu.virtual != 1 && shu.statusLoaded == true "
    >

	    <div
		class="list-group-item {{ shu.last_known_status_datetime | ifIsLateVsTimeoutApplyClass:shu.config.checkin_timeout:'list-group-item-danger' }}"
		ng-click="showcollapsed = 1 - showcollapsed"
		ng-init="showcollapsed = 0"
		ng-class="{'list-group-item-success': shu.status.trip_ongoing == '1' }"
		>
			<table width="100%">
				<tr >
					<td class="text-left">
						<span
				        class="label label-danger"
				        ng-class="shu.latemotor == false ? 'hidden' : ''"
				        >
				        	Warning: Been {{shu.interval_last_known_motor_on_datetime  | intervalToAgo }} hours.
				    	</span>
						{{ shu.description }}
					</td>
					<td class="text-right">					
				        <span
				        class="label text-right"
				        ng-class="shu.latecheckin ? 'label-danger' : shu.lategps ? 'label-default' : 'label-default'"
				        >
				        	{{ shu.last_known_status_datetime | convertDateStrToAgo }} / {{ shu.last_known_gps_datetime | convertDateStrToAgo }}
				    	</span>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td colspan=2>
	    				<div
				        class="progress"
				        style="margin-top:5px;"
				        >
							<div
							class="progress-bar {{ shu.status.fuel_battery_state | progressBarStrict | progressBarColor }} tiny-font"
							role="progressbar"
							aria-valuenow="{{ shu.status.fuel_battery_state | progressBarStrict }}"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: {{ shu.status.fuel_battery_state | progressBarStrict }}%">
							</div>
						</div>
	    			</td>
	    		</tr>
	    	</table>
	        <div>		        
				<div
				class="row"
				ng-show="shu.status.trip_ongoing"
				>
					<div
					class="col-xs-4 col-sm-4 col-md-4 tiny-font"
					>
						On-a-trip ezLink:
					</div>
					<div
					class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right"
					>
						<strong>
							{{ shu.status.trip_ezlink_can }}
						</strong>
					</div>
				</div>

				<div
				class="row"
				ng-show="shu.config.booking_ezlink_can"
				>
					<div
					class="col-xs-4 col-sm-4 col-md-4 tiny-font"
					>
						Config:
					</div>
					<div
					class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right"
					>
						<strong>
							{{ shu.config.booking_customer_firstname }} {{ shu.config.booking_customer_lastname }} {{ shu.config.booking_ezlink_can }}
						</strong>
					</div>
				</div>
			</div>
		</div>
		<div
		class="animate-show list-group-item {{ shu.last_known_status_datetime | ifIsLateVsTimeoutApplyClass:shu.config.checkin_timeout:'list-group-item-danger' }}"
		ng-show="showcollapsed"
		ng-class="{'list-group-item-success': shu.status.trip_ongoing == '1' }"
		>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						suid
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{shu.suid}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						telephone
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{shu.telephone_number}}
					</div>
				</div>
				<div id="chartdiv"></div>
				<img src="http://maps.googleapis.com/maps/api/staticmap?center={{shu.last_known_gps_coordinates}}&amp;visual_refresh=true&amp;zoom=17&amp;size=1024x533&amp;maptype=roadmap&amp;markers=color:0x0093ff%7C{{shu.last_known_gps_coordinates}}&amp;sensor=false" class="map-img">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<strong>Status</strong>
					</div>
				</div>
				<div class="row" ng-repeat="(key, value) in shu.status">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						{{key}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{value}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<strong>Config</strong>
					</div>
				</div>
				<div class="row" ng-repeat="(key, value) in shu.config">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						{{key}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{value}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
